<% provide(:title, "このアプリについて") %>
<div class="static_pages">
  <div class="about">

    <h1>このアプリについて</h1>
    <p>Tabicolle (旅コレ) は､旅行の思い出をコレクションするアプリです｡</p>
    <p>Tabicolleは､旅行の計画を立てるときにも役に立ちます｡</p>
  </div>
</div>
