<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tabicolle</title>
</head>
<body>

  <main class="static_pages">
    <div class="title">
      <p class="">tabicolle</p>
      <p class="lead">~旅の思い出をコレクションしよう~</p>
    </div>
  </main>

</body>
</html>
