<% provide(:title, "モデルコース編集") %>

<div class="courses">
  <div class="new row">
    <h2>モデルコース編集</h2>

    <div class="col-md-2">
    </div>
    <%= render 'form' %>
    <%= render 'shared/sidebar' %>
  </div>
</div>
