<% provide(:title, "モデルコース一覧") %>

<div class="courses">
  <div class="index row">

    <div class="col-md-3">
    </div>

    <div class="courses_wrap col-md-7">
      <%= render partial: "course", collection: @courses  %>
      <div class="paginate_wrap">
        <%= will_paginate @courses, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>　
      </div>
    </div>

    <%= render 'shared/sidebar' %>

</div>
