<% provide(:title, "投稿一覧") %>

<div class="posts">
  <div class="index row">

    <!-- レイアウトの余白の都合上で col-md-3 を配置 [todo]あとからなにか加える可能性がある｡ -->
    <div class="col-md-3">
    </div>

    <div class="posts_wrap col-md-7">
      <% if params[:tag_name] %>
      <p class="tag_search_results"><span class="tagword"><%= "#{params[:tag_name]}" %></span>のタグ検索結果</p>
      <% end %>
      <%= render @posts %>
      <div class="paginate_wrap">
        <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>　
      </div>
    </div>

    <%= render 'shared/sidebar' %>

</div>
