<% provide(:title, "投稿一覧") %>

<div class="posts">
  <div class="index row">

    <!-- レイアウトの余白の都合上で col-md-3 を配置 [todo]あとからなにか加える可能性がある｡ -->
    <div class="col-md-3">
    </div>

    <div class="posts_wrap col-md-7">
    <% @posts.each do |post|%>
      <div class="post">
        <div class="icon_wrap">
          <div class="icon">
            <%= gravatar_for post.user %>
          </div>
          <div class="name">
            <%= post.user.name %>
          </div>
        </div>
        <div class="content">
          <%= link_to post.content, "/posts/#{post.id}" %>
        </div>
      </div>
    <% end %>
    </div>

    <%= render 'shared/sidebar' %>

</div>
