/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%; /*標準サイズ*/
}
html.small {
  font-size: 80%; /*小サイズ*/
}

// 全体テンプレート
body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  a {
    text-decoration: none;
    color: #000;
  }
  ul {
    list-style: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    .logo {
      font-size: 1.5rem;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        // display: inline-block;
        margin-right: 1rem;
      }
    }
  }

  main {
    .notice {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
    }
    .alert {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      color: #f00;
    }
    h1 {
      font-size: 2rem;
      padding: 2rem 0;
    }
  }

  footer {
    ul {
      display: flex;
      justify-content: flex-end;

      list-style: none;
      li {
        margin-right: 1rem;
      }
    }
  }
}

// 部分テンプレート
//// _post.html.erb
.post {
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid 1px #000;
  border-radius: 5px;
  .icon_wrap {
    display: flex;
    padding-bottom: 0.5rem;
    align-items: center;
    .icon {
      width: auto;
      padding-right: 1rem;
      .gravatar {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
      }
    }
    .name {
      font-size: 1.2rem;
    }
  }
  .content {
    padding: 0 0 1rem 5rem;
  }
  .updated_at {
    text-align: right;
  }
}
