.devise {
  padding: 1rem 25%;
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
  }
  .btn {
    background: #0f7d3b;
    color: #fff;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
      color: #ffffff;
    }
  }
  form {
    #error_explanation {
      h2 {
        font-size: 1rem;
        color: #ff0000;
        font-weight: bold;
      }
      ul {
        font-size: 1rem;
        color: #f00;
        background: rgba(255, 0, 0, 0.1);
        padding: 0.5rem;
        border: 1px solid #f00;
        border-radius: 5px;
        font-size: 0.8rem;
        list-style: square inside;
      }
    }
    .field {
      padding-bottom: 1.5rem;
      input {
        width: 100%;
      }
    }
    .actions {
      text-align: center;
    }
  }
  .links {
    padding: 2rem 0 1rem;
  }
  h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
  }
  .button_to {
    text-align: center;
    padding: 1rem 0;
  }
}

.registrations {
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
  }
  form {
    padding: 1rem 25%;
    .field {
      padding-bottom: 1.5rem;
      input {
        width: 100%;
      }
    }
    .actions {
      text-align: center;
    }
  }
  .links {
    padding: 1rem 25%;
  }
}

// .sessions {
//   h2 {
//     font-size: 2rem;
//     padding: 1rem 0;
//     text-align: center;
//   }
//   form {
//     padding: 1rem 25%;
//     .field {
//       padding-bottom: 1.5rem;
//       input {
//         width: 100%;
//       }
//     }
//     .remember_me {
//       padding: 0.5rem 0;
//     }
//     .actions {
//       text-align: center;
//       padding: 2rem;
//     }
//   }
//   .links {
//     padding: 1rem 25%;
//   }
// }
