.registrations {
  h2 {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
  }
  form {
    padding: 1rem 25%;
    .field {
      padding-bottom: 1.5rem;
      input {
        width: 100%;
      }
    }
    .actions {
      text-align: center;
    }
  }
  .links {
    padding: 1rem 25%;
  }
}
