.static_pages {
  h1 {
    font-size: 2rem;
    padding: 2rem 0;
  }
  .home {
    text-align: center;
    position: relative;
    height: calc(100vh - 8rem);
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      img {
        height: 14rem;
      }
    }
  }
}
