<p> <%= @resource.email %>さん</p>

<p>パスワード再設定のお申し込みがありました｡下記のリンクへアクセスして､手続きを続行してください｡</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード再設定の手続きに見に覚えのない場合は､このメールは無視してください｡</p>
<p>リンクにアクセスして手続きを完了させない限り､パスワードが変更されることはありません｡</p>

